<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        <a href="http://beian.miit.gov.cn">津ICP备20002670号</a> - <a href="https://github.com/MBRjun/MBRjun-Blog">源代码</a></br>Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
</footer>
