<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        <a href="http://beian.miit.gov.cn">津ICP备20002670号</a> - <a href="https://github.com/MBRjun/MBRjun-Blog">源代码</a></br>Copyrights &copy; <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
</footer>
<script async defer data-website-id="d1e9e8b4-ed73-416a-b8e7-ae518e698da6" src="https://delightful.mbrjun.cn/delightful.js@v=1.40.0-1"></script>
