name: Delete workflow runs

on:
  schedule:
    - cron: "0 18 * * *"

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2.0.3
      with:
        retain_days: 7
        keep_minimum_runs: 5